.optimization-shell-root { min-width: 720px; min-height: 520px; flex-grow: 1; }
.optimization-shell-tabs { min-width: 0; min-height: 0; flex-grow: 1; flex-shrink: 1; }
.optimization-page { min-width: 0; min-height: 0; flex-grow: 1; flex-shrink: 1; }
